##############################
# IntelliJ / Eclipse / VS Code
##############################

.idea/
*.iml
.project
.classpath
.settings/
.vscode/

##############################
# Maven
##############################

target/
!**/src/main/**/target/
!**/src/test/**/target/

##############################
# Logs
##############################

*.log
logs/

##############################
# Spring Boot
##############################

*.pid
*.seed
*.pid.lock

##############################
# OS Files
##############################

.DS_Store
Thumbs.db

##############################
# Node
##############################

node_modules/
dist/
build/

##############################
# Environment Variables
##############################

.env

##############################
# Docker
##############################

docker-data/

##############################
# Temporary
##############################

*.tmp
*.swp